@charset "UTF-8";
.main-header {
	font-size: 2rem;
	font-weight: 900;
	padding: 1.5rem 0;
}

.todo-form {
	padding-bottom: 1.5rem;
	border-bottom: 0.1rem solid #CCC;
}

.todo-list-header {
	font-size: 1.3rem;
	padding: 1rem 0;
}

.todo-list-table {
	text-align: center;
}